@import 'colors';
@import 'select-box';
body {
   background-color: $main-color;
   font-family: 'Roboto', sans-serif; 
   .main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .registration_input.error {
       background-color: $error;
   }
}
.registration {
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 50px 26px 55px 26px;
.title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}
.registration_group {
    position: relative;
    margin-bottom: 50px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    align-items: flex-end;
    width: 100%;
    margin-top: 150px;
    .registration_group {
        margin-bottom: 50px;
    }
    .registration_label {
        position: static;
    }
    .registration_group_checkbox {
        width: 100%;
    }
}
.registration_input{
    width: 100%;
    padding: 15px 0 15px 50px;
    border-radius: 10px;
    border: $disabled 1px solid;
    background-color: $input-background;
    font-size: 14px;
    box-sizing: border-box;
}
.registration_label {
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 0;
    color: $labels;
    transition: 0.3s;
}
.registration_button {
    width: 100%;
    padding: 15px 0 15px 0;
    border-radius: 20px;
    border: none;
    background-color: $disabled;
    color: #FFFFFF;
    font-size: 18px;
}
.error-message-country {
    position: absolute;
    top: 50px;
}
.success {
    text-align: center;
}
.selected {
    padding: 12px 24px;
    cursor: pointer;
    background: $disabled;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    order: 0;
}
.selected::after {
    content: "";
    background: url("./../images/expand-button.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 10px;
    top: 10px;
    opacity: 0.7;
    transition: all 0.4s;
}

.select-box .options-container.active + .selected::after {
    transform-origin: center;
    transform: rotate(180deg);
}
}